
<!-- En-tête -->
<header class="bg-blue-700 text-white p-4 rounded-b-lg shadow w-full max-w-xl mx-auto">
  <h1 class="text-2xl font-bold text-center">Elevate</h1>
  <p class="text-center text-sm">Résultats</p>
</header>

<!-- Contenu principal -->
<div id="resultContainer" class="w-full max-w-xl mx-auto flex-grow pb-32">

  <!--Liste générée dynamiquement-->
</div>

<!-- Pied de page -->
<footer class="fixed bottom-0 left-1/2 -translate-x-1/2 bg-white p-4 rounded-t-lg shadow flex justify-center space-x-4 w-full max-w-xl">
  <!-- Bouton Classement -->
  <button id="btnClassement" class="p-2 border border-gray-300 rounded-xl hover:bg-gray-100 transition">
    <img src="img/podium.svg" alt="Classement" class="h-6 w-6" />
  </button>

  <!-- Bouton Login -->
  <button id="btnLogin" class="p-2 border border-gray-300 rounded-xl hover:bg-gray-100 transition">
    <img src="img/login.svg" alt="Login" class="h-6 w-6" />
  </button>
</footer>











   